body {
    background-color: #ffffff;
}
 
h1 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 2;
    /* position: relative; */
    /* top: 50px; */
}
h4 {
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
    /* position: relative; */
    /* top: 50px; */
}

#line_desc{
    position: absolute;
    z-index: 2;
    left: 1660px;
    top:600px;
    border: 3px solid #73AD21;
    width: 200px;
}

#instructions{
    position: absolute;
    z-index: 2;
    left: 1660px;
    top:750px;
    border: 3px solid #73AD21;
    width: 200px;
}

/* .tooltip {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 150%;
} */

form{
    padding: 5px;
}

#scene_selectors{
    position: absolute;
    z-index: 2;
    left: 1750px;
    top:150px;
    border: 3px solid #73AD21;
    width: 130px;
}

#line_changers{
    position: absolute;
    z-index: 2;
    left: 1750px;
    top:330px;
    border: 3px solid #73AD21;
    width: 130px;
}

.update_button{
    margin-top: 10px;
}


#line_selectors{
    position: absolute;
    z-index: 2;
    left: 1750px;
    top:460px;
    border: 3px solid #73AD21;
    width: 120px;
}



#chart{
    position: relative;
    top: -50px;
}

